.navbar {
  display: flex;
  margin: 10px;

  .home {
    font-size: x-large;
  }

  .navbar-item {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.active-class {
  font-weight: bold;
  background-color: azure;
}
