.btn-circle {
    border-radius: 50%;
    text-align: center;
    float: right;
    margin-right: 2.5%;
}

.addBtn {
    font-size: 200%;
    position: flex;
    align-items: center;
    color: white;
}