.btn-circle {
    border-radius: 50%;
    text-align: center;
    float: right;
    margin-right: 2.5%;
    width: 70px;
    height: 70px;
}

.addBtn {
    font-size: 200%;
    align-items: center;
    color: white;
}