.todo-add-container{
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;


	width:60px;
	height:60px;
	bottom:60px;
  right:60px;
  border-radius: 50px;
  background-color:#2e7c31;
  box-shadow: 2px 2px 3px #999;

	color:#FFF;
	text-align:center;
  font-size: 25px;
  font-weight: 600;
}

.todo-add-container p{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }

.todo-add-container:hover {
  cursor: pointer;
  background-color:#43a047;
}

