<div>
  <h1>
    {{title}}
  </h1>

  <h2>First form</h2>
  <form [formGroup]='firstForm' (ngSubmit)="saveName(firstForm.value)">
    <input placeholder='e-mail' formControlName='email'>
    <input placeholder='password' type='password' formControlName='password'>
    <button type="submit" [disabled]="!firstForm.valid">Save</button>
  </form>

  <h2>Second form</h2>
  <form [formGroup]='secondForm' (ngSubmit)="saveName(secondForm.value)">
    <input placeholder='First Name' formControlName='firstName'>
    <input placeholder='Last Name' formControlName='lastName'>
    <input placeholder='Phone number' formControlName='phoneNumber'>
    <input placeholder='E-mail' formControlName='email'>
    <button type="submit" [disabled]="!secondForm.valid">Save</button>
  </form>

  <h2>Add spaces to string</h2>
  <input [(ngModel)]='string' />
  <p>{{string | insertSpace}}</p>
</div>
