host{
    position: relative;
    display: block;
    height: 100%;
}

div.home-container{
    height: 100%;
    overflow-y: auto;
}

div.home-container div.list-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

div.home container .add-button{
    position: absolute;
    bottom: 10%;
    right: 15%;
}