<div class="home-container">
    <div class="list-container">
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
        <app-todo-item><p>New Todo Item!</p></app-todo-item>
    </div>
    <app-todo-add class="add-button"></app-todo-add></app-todo-add>
</div>