.data {
    background: #fff;
    border-left: 4px solid #0000FF;
    padding: 1rem;
    margin: 0.5rem 1rem;
    color: #666;
}
.data .btn {
    float: right;
    margin: 0 0.1rem;
    padding: 0 0.3rem;
    cursor: pointer;
    font-size: 0.9rem;
    letter-spacing: -0.05rem;
}