<div class="home-container">
    <div class="list-container">
        <app-todo-item><p>Look for lights.</p></app-todo-item>
        <app-todo-item><p>Wash the car :D </p></app-todo-item>
        <app-todo-item><p>Buy gifts to fammilly.</p></app-todo-item>
        <app-todo-item><p>Decorate a tree.</p></app-todo-item>
        <app-todo-item><p>Try egg nog.</p></app-todo-item>
        <app-todo-item><p>Create a Christmas card.</p></app-todo-item>
        <app-todo-item><p>Make snow ice cream.</p></app-todo-item>
        <app-todo-item><p>Make a snowman.</p></app-todo-item>
        <app-todo-item><p>Do a advent calendar.</p></app-todo-item>
        <app-todo-item><p>Go iceskating.</p></app-todo-item>
        <app-todo-item><p>Get mistletoe.</p></app-todo-item>
        <app-todo-item><p>Christmas movie marathon.</p></app-todo-item>
        <app-todo-item><p>Decorate the house .</p></app-todo-item>
        <app-todo-item><p>Take cards to a nursing home.</p></app-todo-item>
        <app-todo-item><p>Have a Christmas craft night.</p></app-todo-item>
        <app-todo-item><p>Make hot chocolate.</p></app-todo-item>
        <app-todo-item><p>Sit around ....</p></app-todo-item>
    </div>
    <app-todo-add class="add-button"></app-todo-add>

</div>