#details {
  width: 100%;
}

.table-header {
  background-color: linen;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

.count-button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  font-size: large;
  background-color: linen;
  border-style: ridge;
  border-radius: 5px;
}
