<div class="home-container">
    <div class="list-container">
        <ul>
            <li>
                <app-todo-item><p class="done">todo-item!</p> <span class="close">x</span></app-todo-item>
            </li>
            <li>
                <app-todo-item><p>todo-item!</p> <span class="close">x</span></app-todo-item>
            </li>
            <li>
                <app-todo-item><p>todo-item!</p> <span class="close">x</span></app-todo-item>
            </li>
            <li>
                <app-todo-item><p>todo-item!</p> <span class="close">x</span></app-todo-item>
            </li>
            <li>
                <app-todo-item><p>todo-item!</p> <span class="close">x</span></app-todo-item>
            </li>
            <li>
                <app-todo-item><p>todo-item!</p> <span class="close">x</span></app-todo-item>
            </li>
        </ul>
    </div>
    <app-todo-add></app-todo-add>
</div>
