:host {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 100px;
}

.headerContainer {
    display:flex;
    justify-content: center;
    height: 100%;
    align-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-size: 24px;
    font-weight: bold;
}