<app-header>
  TODO APP
</app-header>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>TODO ITEM HERE</app-todo-item>
<app-todo-item>{{text}}</app-todo-item>
<app-todo-add (addEvent)="addTask()"></app-todo-add>
