li {
    position: relative;
}

li:hover .action {
    display: block;
}
.action {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 10px;

}
i{
    padding: 4px;
}
button{
    position: absolute;
    top: 0;
    margin-left: 5px;   
}