<div class="home-container">
    <div class="list-container">
        <app-todo-item><p>todo-item works!</p></app-todo-item>
        <app-todo-item><p>todo-item works!</p></app-todo-item>
        <app-todo-item><p>todo-item works!</p></app-todo-item>
        <app-todo-item><p>todo-item works!</p></app-todo-item>
        <app-todo-item><p>todo-item works!</p></app-todo-item>
        <app-todo-item><p>todo-item works!</p></app-todo-item>
    </div>
    <app-todo-add class="add-button"></app-todo-add>
</div>
