/* You can add global styles to this file, and also import other style files */

*   {
    padding: 0
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antiliased;
    -moz-osx-font-smoothig: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #eeeeee;
}


